# Dependencies
/node_modules

# Build output
/.next/
/out/
/build

# Test coverage
/coverage

# Environment variables
.env*

# Logs
npm-debug.log*

# OS files
.DS_Store

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Certificates
*.pem
